body {
    background: url('momo-studio-qCTPBJVBeFE-unsplash.jpg') no-repeat center center/cover;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    margin-top: 20vh;
}

.heart {
    width: 100px;
    height: 90px;
    background-color: red;
    position: relative;
    display: inline-block;
    transform: rotate(-45deg);
    margin: 50px auto;
}

.heart::before, .heart::after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 50px;
}

.hidden {
    display: none;
    font-size: 20px;
    margin-top: 20px;
}

.show {
    display: block !important;
}
